<p class="ueberschrift">Gedächtnistest: Zucker</p>
<p>Nachfolgend werden Ihnen erneut Fragen zum Thema "Zucker" gestellt.</p>
<p>Sie haben diesmal so lange Zeit, wie sie benötigen, allerdings mindestens 5 und maximal 20 Minuten. Wenn Sie eine Frage beantwortet haben, können Sie nicht zu dieser zurückkehren.</p>
<p>Jede Ihrer Antworten sollte zwischen 900 und 1.600 Zeichen umfassen, sodass die Anzahl der von Ihnen geschriebenen Zeichen grün erscheint.</p>
<p>Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>