<p class="ueberschrift">Abrufaufgabe</p>

<p> Nun folgt ein Gedächtnistest der <b>zuletzt gelernten</b> Wortliste aus 12 Wörtern, nicht der Wortlisten davor! Tippen Sie bitte in beliebiger Reihenfolge jedes Wort ein, an das Sie sich aus der <b>zuletzt gelernten</b> Wortliste erinnern können.</p>

<p> Tippen Sie bitte jedes einzelne Wort in das dafür vorgesehene Antwortfeld und drücken Sie nach Eingabe jedes Wortes auf die ENTER-Taste. </p> 

<p> Für diese Aufgabe haben Sie insgesamt 66 Sekunden Zeit. Nach Ablauf der Zeit werden Sie automatisch weitergeleitet. </p>

<p> Klicken Sie bitte auf "Weiter", wenn Sie mit der Abrufaufgabe beginnen wollen. </p>