<p class="ueberschrift">Wiederholungsphase</p>

<p>In dieser Wiederholungsphase werden Ihnen nun <b>erneut</b> die 12 Wörter aus der zuletzt gelernten Wortliste für jeweils 5½ Sekunden präsentiert.</p>
<p> <b> Prägen Sie sich die einzelnen Wörter möglichst gut ein! </b> </p> 
<p> Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>