<p class="ueberschrift">Lernphase 5</p>

<p>Nachfolgend werden Sie 12 <b>neue</b> Wörter der nächsten Wortliste lernen.</p>
<p>Jedes Wort wird Ihnen für <b>5½</b> Sekunden präsentiert.</p> 
<p><b> Prägen Sie sich die einzelnen Wörter möglichst gut ein! </b> </p> 
<p>Während dieser Lernphase kann es vorkommen, dass sie gefragt werden, woran Sie gerade denken: (1) An die Aufgabe, (2) An Ihre Leistung bei der Aufgabe, (3) An Ihren gegenwärtigen Zustand oder (4) An Irgendetwas aus der Vergangenheit oder der Zukunft. Sobald Sie dies gefragt werden, drücken Sie bitte die entsprechende Taste (1,2, 3 oder 4) auf Ihrer Tastatur. Die vier Antwortmöglichkeiten werden Ihnen dann noch einmal präsentiert. Halten Sie sich aber bitte zu der Eingabe der Zahlen bereit.</p>
<p> Klicken Sie bitte auf "Weiter", wenn Sie bereit sind. Dann geht es unmittelbar los.</p>